*{
  margin:0 auto;
}

body{
  background:#faf7f6;
}

h1{
  font-size:1.8rem;
}

h2{
  font-size:1.2rem
}
h3{
  font-size:1.1rem
}

input{outline:none;}
:root{
  --backgroundColor:#ff733a;
  --beijingse:#faf7f6;

}
